#Core Dependencies

streamlit
pandas
numpy

#Machine Learning & NLP

sentence-transformers==2.7.0
scikit-learn
spacy
huggingface-hub<1.0

#Database

pymongo[srv]==4.5.0

#Document Processing

PyMuPDF==1.23.3
python-docx==1.1.2

#Web Scraping & API Requests

requests==2.31.0
beautifulsoup4==4.12.3

#MANUAL INSTALLATION REQUIRED FOR GPU SUPPORT

#PyTorch must be installed separately to enable GPU acceleration.

#Go to https://pytorch.org/get-started/locally/ to get the correct command.

torch

torchvision

#Additional spaCy model (install separately)

#python -m spacy download en_core_web_sm
